<section class="space-y-6">
    <div class="flex justify-end">
    <button
      type="button"
      (click)="openCreateModal()"
      class="flex h-10 w-10 items-center justify-center rounded-xl border border-white/10 bg-slate-700 text-xl font-semibold text-white transition hover:bg-white/10"
    >
      +
    </button>
  </div>
  <app-user-table [users]="users()" (rowClicked)="openDetailModal($event)"></app-user-table>

  @if (isCreateModalOpen()) {
    <app-create-user-modal
      [mode]="mode"
      (closeClicked)="closeCreateModal()"
      (saveClicked)="handleCreateSave($event)"
    ></app-create-user-modal>
  }

  @if (isDetailModalOpen() && selectedUser()) {
    <app-user-detail-modal
      [user]="selectedUser()!"
      [isEditing]="isEditingSelectedUser()"
      (closeClicked)="closeDetailModal()"
      (editClicked)="startEditingSelectedUser()"
      (cancelEditClicked)="stopEditingSelectedUser()"
      (saveClicked)="handleDetailSave($event)"
      (deleteClicked)="openDeleteConfirm()"
    ></app-user-detail-modal>
  }
  @if (isDeleteConfirmOpen()) {
    <app-delete-modal
      [title]="selectedUser()?.type === 'teacher' ? 'Delete Teacher' : 'Delete Student'"
      (cancelClicked)="closeDeleteConfirm()"
      (confirmClicked)="handleDeleteConfirm()"
    ></app-delete-modal>
  }
</section>
