<app-modal-shell
  [title]="user.type === 'teacher' ? 'Teacher Details' : 'Student Details'"
  (closeClicked)="onCloseClick()"
>
  <div class="space-y-4">
   @if (!isEditing) {
  <div class="space-y-3">
    @for (field of detailFields; track field.label) {
      <div>
        <p class="text-sm text-slate-400">{{ field.label }}</p>
        <p class="text-white">{{ field.value }}</p>
      </div>
    }
  </div>
} @else {
  <app-user-form-fields
    [mode]="user.type"
    [value]="form()"
    (valueChange)="onFormChange($event)"
  ></app-user-form-fields>
}
  </div>

  <div class="mt-6 flex justify-end gap-3">
    @if (!isEditing) {
      <button
        type="button"
        (click)="onDeleteClick()"
        class="rounded-xl border border-red-400/20 bg-red-500/10 px-4 py-2 text-sm font-medium text-red-200 transition hover:bg-red-500/20"
      >
        Delete
      </button>

      <button
        type="button"
        (click)="onEditClick()"
        class="rounded-xl border border-white/10 bg-slate-700 px-4 py-2 text-sm font-medium text-white transition hover:bg-white/10"
      >
        Edit
      </button>
    } @else {
      <button
        type="button"
        (click)="onCancelEditClick()"
        class="rounded-xl border border-white/10 bg-white/5 px-4 py-2 text-sm font-medium text-white transition hover:bg-white/10"
      >
        Cancel
      </button>

      <button
        type="button"
        (click)="onSaveClick()"
        class="rounded-xl border border-white/10 bg-slate-700 px-4 py-2 text-sm font-medium text-white transition hover:bg-white/10"
      >
        Save
      </button>
    }
  </div>
</app-modal-shell>