<app-modal-shell
  [title]="mode === 'teacher' ? 'Add Teacher' : 'Add Student'"
  (closeClicked)="onCloseClick()"
>
  <app-user-form-fields
    [mode]="mode"
    [value]="form()"
    (valueChange)="onFormChange($event)"
  ></app-user-form-fields>

  <div class="mt-6 flex justify-end gap-3">
    <button
      type="button"
      (click)="onCloseClick()"
      class="rounded-xl border border-white/10 bg-white/5 px-4 py-2 text-sm font-medium text-white transition hover:bg-white/10"
    >
      Cancel
    </button>

    <button
      type="button"
      (click)="onSaveClick()"
      class="rounded-xl border border-white/10 bg-slate-700 px-4 py-2 text-sm font-medium text-white transition hover:bg-white/10"
    >
      Save
    </button>
  </div>
</app-modal-shell>